.App {
    text-align: center;
  }
  
  .caution {
    font-weight: bold;
  }
  
  
  .question-list {
    display: inline-block;
    text-align: left; 
    margin: 0 auto; 
  }

  .button {
    background-color: #8b0000; 
    color: #fff;             
    border: 1px solid #8b0000;
    padding: 8px 20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;    
    margin-top: 20px;
  }
  
  .button:hover {
    background-color: #a00000; 
    border-color: #a00000;
  }